/*@CHARSET "UTF-8";
*/
.root
{
-fx-background-color: #000000;
}
.menu-bar 
{
-fx-background-color:#000000;
}
.menu-bar .label 
{
-fx-text-fill:white;
}

.menu-bar .label:hover 
{       
/*-fx-background-color:red;*/
}

.menu-item 
{
-fx-background-color: green;
-fx-border-color: black;
}
.menu-item .label:hover
{
-fx-text-fill:green;
-fx-background-color:red;   
}